<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Staff ServiceSoap" />
        <binding name="Appointment ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.mindbodyonline.com/0_5/StaffService.asmx"
          binding="basicHttpBinding" bindingConfiguration="Staff ServiceSoap"
          contract="StaffServiceReference.StaffServiceSoap" name="Staff ServiceSoap" />
      <endpoint address="http://api.mindbodyonline.com/0_5/AppointmentService.asmx"
          binding="basicHttpBinding" bindingConfiguration="Appointment ServiceSoap"
          contract="AppointmentServiceReference.AppointmentServiceSoap"
          name="Appointment ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>