@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeIndex";
}

@section Scripts {
    <script src="~/js/home-index.js"></script>
}

<h2>Select a staff member below to view their appointments: </h2>
<div class="progress progress-striped active" data-ng-show="isBusy">
        <div class="progress-bar progress-bar-info" style="width: 100%;"></div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="well" data-ng-view="">
            
        </div>
    </div>
</div>